@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #952c2c !important;
  color: #fff !important;
  font-family: "Inter", sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Swiper customization */
.swiper {
  width: 100%;
  padding-top: 9px;
  padding-bottom: 10px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 140px;
  height: auto;
}

/* Custom Logo */
.logo {
  background-image: url("/giphy.webp");
  background-size: cover;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.page-container {
  background-color: #ffffff; /* Set a default background */
  transition: background-color 1.5s ease-in-out; /* Smooth background transition */
}
